<h3><%= @stores.count %>Total Stores</h3>
<div class="container">
  <p class="name"></p>
  <p class="city"></p>
  <p class="distance"></p>
  <p class="phone-number"></p>
  <p class="store-type"></p>
</div>
